@import "variables.scss";

.table {
  width: 100%;
  border-collapse: collapse;
  > thead {
    background-color: $blue-3;
    color: #fff;

    > tr > th.-sort {
      cursor: pointer;
    }

    > tr > th.-center {
      text-align: center;
    }

    > tr > th {
      font-weight: normal;
      text-align: left;
      padding: 10px;
      font-size: 15px;
    }

    > tr > th > i[class*=icon] {
      font-size: 10px;
      float: right;
      margin-top: 5px;
    }
    
    > tr > th > input {
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  > tbody {
    > tr {
      background-color: #fff;
      &:nth-child(odd) {
        background-color: #f2f2f2;
      }
      > td.number {
        text-align: right;
      }
      > td {
        padding: 15px 10px;
      }
      > td:nth-last-child(n + 2) {
        border-right: 1px solid #e2e2e2;
      }
      > td > input {
        vertical-align: middle;
        margin-right: 10px;
      }
      > td.location {
        > .location {
          display: flex;
          align-items: flex-start;
        }
        > .location > .name {
          max-width: 150px;
          width: 100%;
          word-wrap: break-word;
        }
        > .location > i[class*=icon],
        > .location > .circle-hq {
          margin-right: 10px
        }

        > .location > i[class*=icon] {
          display: inline-block;
          width: 23px;
          height: 23px;
          color: #e2e2e2;
        }
      }
      > td.actions {
        min-width: 80px;
        text-align: center;
        > .actions {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        > .actions > i[class*=icon] {
          color: $yellow-1;
          font-size: 20px;
          cursor: pointer;
        }

        > .actions > i[class*=mail] {
          margin-right: 10px;
        }
      }
    }
  }
}