@import "variables.scss";

.tabs {
  display: flex;
  color: #fff;
  > .tab {
    padding: 25px 15px 20px;
    max-width: 200px;
    width: 100%;
    &.-active {
      border-bottom: 5px solid $yellow-1;
    }
    > .count {
      font-size: 30px;
      margin: 0;
    }
    > .count,
    > .label {
      font-weight: normal;
    }
  }
  > .download {
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    align-self: flex-end;
    color: #fff;
    font-size: 14px;
    > i[class*=icon] {
      font-size: 25px;
      margin-right: 10px;
    }
  }
}