@font-face {
  font-family: 'b2bsite';
  src:  url('fonts/b2bsite.eot?iql95k');
  src:  url('fonts/b2bsite.eot?iql95k#iefix') format('embedded-opentype'),
    url('fonts/b2bsite.ttf?iql95k') format('truetype'),
    url('fonts/b2bsite.woff?iql95k') format('woff'),
    url('fonts/b2bsite.svg?iql95k#b2bsite') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'b2bsite' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e906";
}
.icon-csv-file:before {
  content: "\e907";
}
.icon-map-pin:before {
  content: "\e908";
}
.icon-refresh:before {
  content: "\e909";
}
.icon-minus:before {
  content: "\e90a";
}
.icon-telephone:before {
  content: "\e90b";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e904";
}
.icon-right-arrow:before {
  content: "\e900";
}
.icon-equal:before {
  content: "\e901";
}
.icon-checked:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e903";
}
