@import "variables.scss";

.circle-hq {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 10px;
  width: 23px;
  height: 23px;
  padding: 5px;
  border-radius: 30px;
  color: #fff;
  background-color: $blue-1;
}